
.container-content{
    display: flex;
    flex-direction: column;   
    
}

.container-intro {
    display: flex;
    flex-direction: row;
    height: 80vh;
    grid-area: video;
    background-color: #111;
    background-image: url('../../assets/bg-intro-blue.png');
    background-size: cover;
}



.dl-content{
    margin: 40px;
}

.container-intro-text{
    display: flex;
    width: 50vw;
    color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 80px;
    font-family: 'Lato';
}

.container-intro-video{
    display: flex;
    width: 50vw;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.container-intro-video img{
    border: solid 1px #999;
    border-radius: 2px;
}



.row {
    padding: 50px 10px;
    display: flex;
    flex: 1; /* added */
    height: 70vh;
  }
  
.item {
    font-size: 1.2em;
    display: flex;
    margin: 0 10px;
    padding: 0 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1; /* added */
    overflow: hidden;
  }

  .item img{
      max-height: 350px;
  }

  .item-white{
      background-color: #fff;
  }

  .customer-map{
      display: flex;
      margin: 40px 40px;

  }
  
  .customer-data{
      margin: 0 40px;
      width: 50%;
  }

  .customer-data img{
      width: 200px;
      margin-top: 70px;
  }

  .container-duvidas{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .anouncement{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0;
  }