.row {
    padding: 50px 10px;
    display: flex;
    flex: 1; /* added */
    height: 70vh;
  }
  
.item {
    font-size: 1.2em;
    display: flex;
    margin: 0 10px;
    padding: 0 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1; /* added */
    overflow: hidden;
  }

  .row-white{
    background-color: #fff;
    flex-direction: row-reverse;
}