.container{
    color: #666;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:  auto 20vh;
    grid-template-areas: "main main main"
                         "footer footer footer"       ;
    
}

main {
    margin-top: 12vh;
    background: #f9f9f9;
    grid-area: main;
}